<div class="footer">
  <div class="footer-left">
    <div class="footer-logo">
      <img src="/assets/images/logo.png" alt="logo">
    </div>
    <div class="tstore-info">
      <p><strong>Address:</strong> 1234 Main St, Danbury, CT 06810</p>
      <p><strong>Email:</strong> support@tstore.com</p>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-list">
      <ul>
        <li>Information</li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Privecy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="footer-list">
      <ul>
        <li>My Account</li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Older History</a></li>
        <li><a href="#">Wishlist</a></li>
        <li><a href="#">Newslatter</a></li>
      </ul>
    </div>
    <div class="footer-list">
      <ul>
        <li>Find It Fast</li>
        <li><a href="#">Desktop</a></li>
        <li><a href="#">Laptop & Mobile</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="footer-list">
      <ul>
        <li>Customer Service</li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Delivery Information</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear footer-bottom">
  <div class="container">
    <p>Copyright © 2020.<a href="#">TStore</a> All rights reserved.</p>
  </div>
</div>