
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="header">
  <div class="header-top">
    <div class="top-left">
      <p><span>Customer Service:</span>(800) 123 456 789</p>
    </div>
    <div class="top-right">
      <ul>
        <li th:if="${session.loginUser == null}">
          <a th:href="@{/login.html}">Please Login in</a>
        </li>
        <li th:if="${session.loginUser != null}">
          <span th:text="'Welcome, ' + ${session.loginUser} + '.'"></span>
        </li>
        <li>
          <div class="myAcc-drop-down"> 
            <a href="#">
              My Account
            </a>
            <div class="myAcc-drop-down-content">
              <ul>
                <li>
                  <a th:href="@{/myaccount}">Your Order</a>
                </li>
                <li th:if="${session.loginUser == null}">
                  <a th:href="@{/signup}">Sign up</a>
                </li>
                <li th:if="${session.loginUser != null}">
                  <a th:href="@{/logout}">Logout</a>
                </li>
              </ul>
            </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="clear header-middle">
    <div class="middle-left">
      <a th:href="@{/}">
        <div class="website-logo"></div>
      </a>
    </div>
    <div class="middle-middle">
      <form th:action="@{/search}" th:method="POST">
        <input type="text" class="header-search" placeholder="Enter your search key ..." th:name="search">
        <button class="header-search-button" type="submit">Search</button>
      </form>
    </div>
    <div class="middle-right">
      <a th:href="@{/ShoppingCart}">
        <img th:src="@{'/assets/images/shopping-carts.png'}" alt="My Cart">
        <span>My Cart</span>
      </a>
    </div>
  </div>
  <div class="header-bottom">
    <div class="categories-menu-bar">
      <div class="categories-menu-bar-dropdown" onclick="DropdownMenu()">
        <a href="#">
          All Categories
        </a>
      </div>
      <div id="categories-menu-bar-dropdown-detail" class="categories-menu-bar-dropdown-detail">
        <ul>
          <li class="detail-arrow_right">
            <a href="#">Computers</a>
            <ul class="detail-sub-menu">
              <li class="detail-sub-menu-title">
                <a th:href="@{'/products?category=Laptop&vendor='}">Laptops</a>
                <ul>
                  <li><a th:href="@{'/products?category=LaptopMS&vendor='}">PC Laptops</a></li>
                  <li><a th:href="@{'/products?category=Laptop&vendor=Apple'}">MacBooks</a></li>
                  <li><a th:href="@{'/products?category=2-in-1&vendor=Microsoft'}">Microsoft Surface Laptops</a></li>
                  <li><a th:href="@{'/products?category=Laptop&vendor=Google'}">Chromebooks</a></li>
                </ul>
              </li>
              <li class="detail-sub-menu-title">
                <a href="#">Desktops</a>
                <ul>
                  <li><a th:href="@{'/products?category=Desktop&vendor='}">Computer Towers</a></li>
                  <li><a th:href="@{'/products?category=Desktop&vendor=Apple'}">Apple iMac, Mini & Mac Pro</a></li>
                  <li><a th:href="@{'/products?category=2-in-1&vendor=Microsoft'}">Microsoft Surface Studio 2</a></li>
                  <li><a th:href="@{'/products?category=DesktopGaming&vendor='}">Gaming Desktops</a></li>
                </ul>
              </li>
              <li class="detail-sub-menu-title">
                <a href="#">2-in-1s</a>
                <ul>
                  <li><a th:href="@{'/products?category=2-in-1&vendor=Microsoft'}">Microsoft Surface</a></li>
                  <li><a th:href="@{'/products?category=2-in-1&vendor=Lenovo'}">Lenovo</a></li>
                  <li><a th:href="@{'/products?category=2-in-1&vendor=Dell'}">Dell</a></li>
                  <li><a th:href="@{'/products?category=2-in-1&vendor=Asus'}">Asus</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="detail-arrow_right">
            <a href="#">Electronics</a>
            <ul class="detail-sub-menu">
              <li class="detail-sub-menu-title">
                <a href="#">TV & Video</a>
                <ul>
                  <li><a th:href="@{'/products?category=LaptopMS&vendor='}">PC Laptops</a></li>
                  <li><a th:href="@{'/products?category=Laptop&vendor=Apple'}">MacBooks</a></li>
                  <li><a th:href="@{'/products?category=2-in-1&vendor=Microsoft'}">Microsoft Surface Laptops</a></li>
                  <li><a th:href="@{'/products?category=Laptop&vendor=Google'}">Chromebooks</a></li>
                </ul>
              </li>
              <li class="detail-sub-menu-title">
                <a href="#">Phones & Accessories</a>
                <ul>
                  <li><a th:href="@{'/products?category=Cell Phone&vendor=Apple'}">iPhone</a></li>
                  <li><a th:href="@{'/products?category=Cell Phone&vendor=Samsung'}">Samsung</a></li>
                  <li><a th:href="@{'/products?category=Headset&vendor='}">Bluetooth Headphones</a></li>
                  <li><a th:href="@{'/products?category=WirelessAccs&vendor='}">Wireless Accessories</a></li>
                </ul>
              </li>
              <li class="detail-sub-menu-title">
                <a th:href="@{'/products?category=Games&vendor='}">Video Games</a>
                <ul>
                  <li><a th:href="@{'/products?category=PS4&vendor='}">PlayStation</a></li>
                  <li><a th:href="@{'/products?category=XBOX&vendor='}">Xbox</a></li>
                  <li><a th:href="@{'/products?category=PC&vendor='}">PC</a></li>
                  <li><a th:href="@{'/products?category=Nintendo&vendor='}">Nintendo</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="detail-arrow_right">
            <a href="#">Games</a>
            <ul class="detail-sub-menu">
              <li class="detail-sub-menu-title">
                <a th:href="@{'/products?category=Games&vendor=Roblox'}">Roblox</a>
                <ul>
                  <li><a th:href="@{'/products?category=GamesGift&vendor=Roblox'}">Roblox Gift Card</a></li>
                  <li><a th:href="@{'/products?category=GamesCode&vendor=Roblox'}">Online Game Code</a></li>
                </ul>
              </li>
              <li class="detail-sub-menu-title">
                <a href="#">Mojang AB</a>
                <ul>
                  <li><a th:href="@{'/products?category=&vendor=Mojang'}">Minecraft</a></li>
                  <li><a th:href="@{'/products?category=GamesCode&vendor=Mojang'}">Online Game Code</a></li>
                </ul>
              </li>
              <li class="detail-sub-menu-title">
                <a href="#">Electronic Arts</a>
                <ul>
                  <li><a th:href="@{'/products?category=Games&vendor=EA'}">Games</a></li>
                  <li><a th:href="@{'/products?category=GamesCode&vendor=EA'}">Online Game Code</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Others</a></li>
          <li><a href="#">Others</a></li>
          <li><a href="#">Others</a></li>
          <li><a href="#">Others</a></li>
          <li><a href="#">Others</a></li>
          <li><a href="#">Others</a></li>
          <li><a href="#">Others</a></li>
          <li><a href="#">Others</a></li>
          <li><a href="#">Others</a></li>
        </ul>
      </div>
    </div>
    <div class="header-menu">
      <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li class="menu-arrow-down">
          <a href="#">Computers</a>
          <div class="menu-dropdown-submenu">
            <ul>
              <li><a th:href="@{'/products?category=Laptop&vendor='}">Laptop</a></li>
              <li><a th:href="@{'/products?category=Desktop&vendor='}">Desktops</a></li>
              <li><a th:href="@{'/products?category=2-in-1&vendor='}">2-in-1s</a></li>
            </ul>
          </div>
        </li>
        <li class="menu-arrow-down">
          <a href="#">Electronics</a>
          <div class="menu-dropdown-submenu-longer">
            <ul>
              <li><a th:href="@{'/products?category=Television&vendor='}">TV & Video</a></li>
              <li><a th:href="@{'/products?category=Cell Phones&vendor='}">Phones & Accessories</a></li>
              <li><a th:href="@{'/products?category=Games&vendor='}">Video Games</a></li>
            </ul>
          </div>
        </li>
        <li class="menu-arrow-down">
          <a href="#">Games</a>
          <div class="menu-dropdown-submenu-middle">
            <ul>
              <li><a th:href="@{'/products?category=Games&vendor=Roblox'}">Roblox</a></li>
              <li><a th:href="@{'/products?category=Games&vendor=Mojang'}">Mojang AB</a></li>
              <li><a th:href="@{'/products?category=Games&vendor=EA'}">Electronic Arts</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </div>
</div>
