@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?lh44li');
  src:  url('/assets/fonts/icomoon.eot?lh44li#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?lh44li') format('truetype'),
    url('/assets/fonts/icomoon.woff?lh44li') format('woff'),
    url('/assets/fonts/icomoon.svg?lh44li#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e908";
}
.icon-mail_outline:before {
  content: "\e909";
}
.icon-keyboard_arrow_down1:before {
  content: "\e901";
}
.icon-keyboard_arrow_left:before {
  content: "\e902";
}
.icon-keyboard_arrow_right:before {
  content: "\e903";
}
.icon-keyboard_arrow_up:before {
  content: "\e904";
}
.icon-navigate_before:before {
  content: "\e905";
}
.icon-navigate_next:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-keyboard_arrow_down:before {
  content: "\e900";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
