.mt-25 {
  margin-top: 25px
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

.offset-lg-3 {
  margin-left: 25%
}

.mb-20 {
  margin-bottom: 20px
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.checkout_info {
  width: 570px;
  border: 1px solid #e4e3e3;
  margin-top: 25px;
  padding: 20px 30px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px
}

.last-title {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  text-transform: capitalize
}

.mb-30 {
  margin-bottom: 30px
}

.form_group {
  margin-bottom: 20px
}

.form_group .input-form {
  border: 1px solid #e4e3e3;
  background: 0 0;
  height: 40px;
  width: 90%;
  padding: 0 20px
}

.position-relative {
  position: relative !important
}

.form_group .form-label {
  font-size: 16px;
  display: block;
  line-height: 1;
  font-weight: 600;
  padding-left: 8px;
}

.form-label span {
  color: red;
}

.form_group.group_3 {
  display: flex;
  align-items: center
}

.form_group .login-register {
  display: inline-block;
  width: 80px;
  background: #408ed4;
  border: 0;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 20px;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  border-radius: 3px
}

.form_group .login-register:hover {
  background: #3d3d3d
}

.text-left {
  text-align: left !important
}

.text-right {
  text-align: right !important
}

.text-center {
  text-align: center !important
}

.show-btn:hover {
  background: #408ed4;
  border: 1px solid #408ed4
}

.invalid-text {
  color: red;
}