<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>

  <script type="text/javascript" th:src="@{assets/js/common.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/header.css}">
  <script type="text/javascript" th:src="@{assets/js/header.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/footer.css}">
  <script type="text/javascript" th:src="@{assets/js/footer.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/cart.css}">
</head>

<body>
  <!-- Header Area Start -->
  <header th:replace="common/header.html"></header>
  <!-- Header Area End -->

  <!--======================
    Shopping Cart area Start
    ==========================-->
  <div class="cart-area clear">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form th:action="@{/updateCart}" class="cart-form" th:method="POST">
            <!-- Cart Table Area Start -->
            <div class="table-desc">
              <div class="cart-page table-responsive">
                <table>
                  <thead>
                    <tr>
                      <th class="product-image">Image</th>
                      <th class="product-name">Product</th>
                      <th class="product-price">Price</th>
                      <th class="product-quantity">Quantity</th>
                      <th class="product-total">Total</th>
                      <th class="product-remove">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="items : ${myCart}">
                      <td class="product-image">
                        <a th:href="@{'/product?id=' + ${items.product.productID}}">
                          <img th:src="${items.product.imgPath}" alt="">
                        </a>
                      </td>
                      <td class="product-name">
                        <a th:href="@{'/product?id=' + ${items.product.productID}}">
                          <span th:text="${items.product.shortProductName}"></span>
                        </a>
                      </td>
                      <td class="product-price" th:text="${items.cost}"></td>
                      <td class="product-quantity">
                        <label>Quantity</label>
                        <input type="hidden" th:value="${items.shoppingCartID}" th:name="cartID">
                        <input min="1" max="100" th:value="${items.quantity}" th:name="quantity" type="number">
                      </td>
                      <td class="product-total">
                        <span th:text="'$' + ${items.quantity * items.cost}"></span>
                      </td>
                      <td class="product-remove">
                        <a th:href="@{'/delCart?id=' + ${items.shoppingCartID}}">
                          <i class="icon-delete"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="cart-submit">
                <button type="submit">update cart</button>
                <a th:href="@{/checkout}"><button type="button">Proceed to Checkout</button></a>
              </div>
            </div>
            <!-- Cart Table Area End -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--======================
  Shopping Cart area End
  ==========================-->

  <!-- Footer Area Start -->
  <footer th:replace="common/footer.html"></footer>
  <!-- Footer Area End -->
</body>

</html>