<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>

  <script type="text/javascript" th:src="@{assets/js/common.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/header.css}">
  <script type="text/javascript" th:src="@{assets/js/header.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/footer.css}">
  <script type="text/javascript" th:src="@{assets/js/footer.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/error.css}">
</head>

<body>
  <!-- Header Area Start -->
  <header th:replace="common/header.html"></header>
  <!-- Header Area End -->

  <!-- 404 Area Start -->
  <div class="error_page_start clear">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h2>OOPS! PAGE NOT BE FOUND</h2>
                  <p>Sorry but the page you are looking for does not exist, have been removed, name changed or is temporarity unavailable.</p>
                  <div class="hom_btn">
                      <a th:href="@{/index}" class="btn-secondary">Back to home page</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- 404 Area End -->

  <!-- Footer Area Start -->
  <footer th:replace="common/footer.html"></footer>
  <!-- Footer Area End -->
</body>

</html>