<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=```````-width, initial-scale=1.0">
  <title>TStore - The online store</title>

  <script type="text/javascript" th:src="@{assets/js/common.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/header.css}">
  <script type="text/javascript" th:src="@{assets/js/header.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/footer.css}">
  <script type="text/javascript" th:src="@{assets/js/footer.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/index.css}">
  <script type="text/javascript" th:src="@{assets/js/index.js}"></script>
</head>
<body>
  <!-- Header Area Start -->
  <header th:replace="common/header.html"></header>
  <!-- Header Area End -->

  <!-- Main Body Start -->
  <div class="clear main">
    <div class="slider">
      <div class="loop-wrap">
        <div class="loop-images-container">
            <img th:src="@{assets/images/slider/slider-1.png}" alt="slider1" class="loop-image">
            <img th:src="@{assets/images/slider/slider-2.png}" alt="slider2" class="loop-image">
        </div>
      </div>
      <div class="slider-bottom">
        <!-- <img src="/assets/images/slider/all-shipping.png" alt=""> -->
      </div>
    </div>
  </div>
  <!-- Main Body End -->

  <!-- Footer Area Start -->
  <footer th:replace="common/footer.html"></footer>
  <!-- Footer Area End -->
</body>
</html>