<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <script type="text/javascript" th:src="@{assets/js/common.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/header.css}">
  <script type="text/javascript" th:src="@{assets/js/header.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/footer.css}">
  <script type="text/javascript" th:src="@{assets/js/footer.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{assets/css/login.css}">
  <script type="text/javascript" th:src="@{assets/js/login.js}"></script>
</head>

<body>
  <!-- Header Area Start -->
  <header th:replace="common/header.html"></header>
  <!-- Header Area End -->

  <!-- login area Start -->
  <div class="login-area mt-25 clear">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="checkout_info mb-20">
            <form class="form-row" th:action="@{/login}" th:method="POST">
              <h1 class="last-title mb-30 text-center">Login to Your Account</h1>
              <div class="form_group col-12">
                <label class="form-label text-left">Email <span>*</span></label>
                <input class="input-form" type="text" th:name="email" />
              </div>
              <div class="form_group col-12 position-relative">
                <label class="form-label text-left">Password <span>*</span></label>
                <input class="input-form input-login" type="password" th:name="password" />
              </div>
              <div class="form_group col-12 text-left" th:if="${not #strings.isEmpty(msg)}">
                <span class="invalid-text" th:text="${msg}"></span>
              </div>
              <div class="form_group group_3 col-lg-3">
                <button class="login-register" type="submit">Login</button>
                <label for="remember_box">
                  <input id="remember_box" type="checkbox">
                  <span> Remember me </span>
                </label>
              </div>
              <div class="col-lg-12 text-left">
                <p class="register-page"> No account? <a href="register.html">Create one here</a>.</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- login area End -->

  <!-- Footer Area Start -->
  <footer th:replace="common/footer.html"></footer>
  <!-- Footer Area End -->
</body>

</html>